@model List<Creators.Creators.Models.DonateCreatorForView>

@section Styles {
    <link rel="stylesheet" href="~/css/donate.css" />
}

@{
    ViewData["Title"] = "Check donates";
}

<div class="donate-container-info">
    <h2>Account Balance</h2>

    <div class="donate-info">
        <p><strong>Current Balance:</strong> @ViewBag.Balance $</p>
        <p><strong>Last Deposit:</strong> @ViewBag.LastDeposit</p>
        <p><strong>Last Cashout:</strong> @ViewBag.LastCashout</p>
    </div>

    <h2>Donations</h2>

    <div class="donate-list">
        @if (Model.Any())
        {
            <ul>
                @foreach (var donate in Model.OrderByDescending(d => d.DateTime))
                {
                    <div class="donate-item">
                        <li>
                            <p>@donate.Donator - @donate.DateTime.ToString("yyyy-MM-dd HH:mm")</p>
                            <p><strong>@donate.Count @donate.Currency</strong></p>
                        </li>
                    </div>
                }
            </ul>
        }
        else
        {
            <div class="donate-info">
                <p>No donations found.</p>
            </div>
        }
</div>
</div>
