@model Creators.Creators.Database.Chats
@inject Creators.Creators.Services.Interface.IBlock _block;

@section Styles {
    <link rel="stylesheet" href="~/css/chat.css" />
}


@{


    string friend_Id;


    @if (Model.Id_User1 == ViewBag.User.Id)
    {
        friend_Id = @Model.Id_User2;
    }
    else
    {
        friend_Id = @Model.Id_User1;
    }
    string blockresult = _block.CheckBlock(friend_Id, ViewBag.User);

}

<form asp-action="RefreshChat" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Refresh</button>
</form>


@if(blockresult == "Not")
{
<form asp-action="BlockUser" method="post">
    <input type="hidden" name="Id_User" value="@friend_Id" />
    <button type="submit" class="btn btn-danger">Block</button>
</form>
}






@if(Model.Messages.Count > 0)
{
<div class="chat-container">
    @foreach (var message in Model.Messages)
    {
        <div class="message-container">
            @if (message.Id_Sender == ViewBag.User.Id)
            {
                <!-- Message sent by the current user (display on the right) -->
                <div class="message-sent">
                    <div class="message-text">
                        @message.Text
                    </div>
                    <div class="message-actions">
                        <!-- Option to delete message if it's the user's own message -->
                            @if (@message.Text != "Message deleted")
                            {
                                <form asp-action="DeleteMessage" method="post">
                                    <input type="hidden" name="Id" value="@message.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            }
                    </div>
                </div>
            }
            else
            {
                <!-- Message received by the current user (display on the left) -->
                <div class="message-received">
                    <div class="message-text">
                        @message.Text
                    </div>
                </div>
            }
        </div>
    }
</div>
}



@if(blockresult == "Not")
{
    <form asp-action="SendMessage" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <textarea name="Text" class="form-control" rows="3" placeholder="Type your message..."></textarea>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

}

@if (blockresult == "Block")
{
    <form asp-action="SendMessage" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <textarea name="Text" class="form-control" rows="3" readonly placeholder="You blocked this user..."></textarea>
    </form>

}

@if (blockresult == "IsBlocked")
{
    <form asp-action="SendMessage" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <textarea name="Text" class="form-control" rows="3" readonly placeholder="You're blocked by this user..."></textarea>
    </form>

}

