@model Creators.Creators.Database.Chats
@inject Creators.Creators.Services.Interface.IBlock _block;

@section Styles {
    <link rel="stylesheet" href="~/css/chats.css" />
}

@{
    ViewData["Title"] = $"Chat - {ViewBag.UserName}";

    string friend_Id;

    @if (Model.Id_User1 == ViewBag.User.Id)
    {
        friend_Id = @Model.Id_User2;
    }
    else
    {
        friend_Id = @Model.Id_User1;
    }

    string blockresult = _block.CheckBlock(friend_Id, ViewBag.User);



    string placeholderText = "";
    bool isBlock = false;

    switch (blockresult)
    {
        case "Not":
            placeholderText = "Type your message...";
            isBlock = false;
            break;
        case "Block":
            placeholderText = "You blocked this user...";
            isBlock = true;
            break;
        case "IsBlocked":
            placeholderText = "You're blocked by this user...";
            isBlock = true;
            break;
    }
}





<div id="chat-container">
    <div id="chat-actions">
        <form asp-action="RefreshChat" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" id="chat-refresh">Refresh</button>
        </form>

        <h2> Chat with @ViewBag.UserName </h2>

        @if (blockresult == "Not")
        {
            <form asp-action="BlockUser" method="post">
                <input type="hidden" name="Id_User" value="@friend_Id" />
                <button type="submit" class="btn btn-danger">Block</button>
            </form>
        }

    </div>

    <div id="chat-messages">
        @if (Model.Messages.Any())
        {
            @foreach (var message in Model.Messages.OrderBy(a => a.DateTime))
            {
                @if (message.Id_Sender == ViewBag.User.Id)
                {
                    <div class="chat-message-box-me">
                        <div class="chat-message-me">
                            <p>Me</p>
                            @message.Text
                        </div>
                        <div class="message-actions">
                            @if (@message.Text != "Message deleted")
                            {
                                <form asp-action="DeleteMessage" method="post">
                                    <input type="hidden" name="Id" value="@message.Id" />
                                    <button type="submit" class="btn-danger">Delete</button>
                                </form>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="chat-message-friend">
                        <p>@ViewBag.UserName</p>
                        <div class="chat-message-friend">
                            @message.Text
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="chat-info">

                <p>No messages found</p>

            </div>
        }
    </div>

    <form asp-action="SendMessage" method="post" class="chat-message-form">
        <input type="hidden" name="Id" value="@Model.Id" />
        <textarea name="Text" class="form-control" rows="3" max="250" placeholder="@placeholderText" @(isBlock ? "readonly" : "")></textarea>
        <button type="submit" class="btn btn-primary" @(isBlock ? "disabled" : "")>Send</button>
    </form>


</div>


<script>
    window.onload = function() {
        var chatMessages = document.getElementById("chat-messages");
        chatMessages.scrollTop = chatMessages.scrollHeight;
    };
</script>
