@model List<Creators.Creators.Models.UserForChats>

@foreach(var user in Model)
{
    <p> @user.Firstname @user.Lastname </p>
    <p> @user.UserName </p>
    if(user.ChatExist)
    {
        <form asp-action="Chat" method="get">
            <input type="hidden" name="Id" value="@user.Chat_Id" />
            <button type="submit" class="btn btn-danger">Chat</button>
        </form>
    }
    else
    {
        <form asp-action="MakeChat" method="post">
            <input type="hidden" name="Id_User" value="@user.Id" />
            <button type="submit" class="btn btn-danger">Start chat</button>
        </form>
    }


}

