@model List<Creators.Creators.Models.UserForChats>

@section Styles {
    <link rel="stylesheet" href="~/css/chats.css" />
}

@{
    ViewData["Title"] = "Search result";
}


<div class="chat-container-info">
    <h2>Found Users</h2>

    @if (Model.Any())
    {
        <ul class="chat-list">
            @foreach (var user in Model)
            {
                <li class="chat-item">
                    <div class="chat-info">
                        <p> @user.Firstname @user.Lastname </p>
                        <p> @user.UserName </p>
                    </div>
                    @if (user.ChatExist)
                    {
                        <a href="@Url.Action("Chat", "Chat", new { Id = user.Chat_Id })" class="chat-button">Chat</a>
                    }
                    else
                    {
                        <form asp-action="MakeChat" method="post">
                            <input type="hidden" name="Id_User" value="@user.Id" />
                            <button class="chat-button" type="submit" class="btn btn-danger">Start chat</button>
                        </form>
                    }
                    <hr />

                </li>
            }
        </ul>

    }
    else
    {
        <p>No users found.</p>
    }
</div>

