@model Creators.Creators.Models.CreatorPageShow

@section Styles {
    <link rel="stylesheet" href="~/css/creator-main.css" />
}

@{
    ViewData["Title"] = $"Page {Model.ProfilName}";
}

<div class="creator-main-container">
    <div class="creator-main-profile-header">

        <img class="creator-main-profilepicture" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.ProfilPicture)" alt="Photo" />

        <div class="creator-main-profile-description">
            <h1 class="creator-main-profile-name">@Model.ProfilName</h1>
            <p>@Model.Description</p>

            <div class="creator-main-profile-links">
                <h2>Find me on:</h2>
                <ul>
                    @foreach (var link in Model.BioLinks.Split(','))
                    {
                        <li><a href="@link" target="_blank">@link</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="creator-main-profile-action">
            <a href="@Url.Action("GetFollowersCreator", "Follower", new { Id_Creator = @Model.Id_Creator })" class="creator-main-btn">Check fans</a>
            <a href="@Url.Action("DonateCreator", "Donate", new { Creator = @Model.ProfilName, Id_Donates = @Model.Id_Donates })" class="creator-main-btn">Donate</a>

            @if (ViewBag.IsFollowing)
            {
                <a href="@Url.Action("UnFollow", "Follower", new { Id_Creator = @Model.Id_Creator })" class="creator-main-btn">Unfollow</a>
            }
            else
            {
                <a href="@Url.Action("Follow", "Follower", new { Id_Creator = @Model.Id_Creator })" class="creator-main-btn">Follow</a>
            }

            <a href="@Url.Action("UserCreatorPhotos", "Photo", new { Id_Photos = @Model.Id_Photos })" class="creator-main-btn">Photos</a>
            <a href="@Url.Action("ShowSchedule", "Schedule", new { Id_Calendar = @Model.Id_Calendar })" class="creator-main-btn">Events calendar</a>
            <a href="@Url.Action("CreatorAnnouncement", "Announcement", new { Id_Announcement = @Model.Id_Announcement })" class="creator-main-btn">Announcement</a>
        </div>
    </div>
</div>
