@model Creators.Creators.Models.CreatorPageShow

@section Styles {
    <link rel="stylesheet" href="~/css/search.css" />
}


<div class="form-container">
    <form id="updatePageForm" method="post" enctype="multipart/form-data" asp-action="UpdatePageRequest" asp-controller="Creator">

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="Description" rows="4" maxlength="500" required placeholder="Describe your profile">@Model.Description</textarea>
        </div>

        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.ProfilPicture)" alt="Photo" width="150" />

        <div class="form-group">
            <label for="ProfileImage">Wybierz plik</label>
            <input type="file" id="ProfileImage" name="ProfileImage" class="form-control" />
        </div>


        <div class="form-group">
            <label>Receive Notifications:</label>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" id="NotifyImages" name="NotifyImages" value="true" @(Model.NotifyImages ? "checked" : "") />
                    Notify about new images
                </label>
                <label>
                    <input type="checkbox" id="NotifyEvents" name="NotifyEvents" value="true" @(Model.NotifyEvents ? "checked" : "") />
                    Notify about new events
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="bioLinks">Bio Links:</label>
            <input type="text" id="bioLinks" name="BioLinks" value="@Model.BioLinks" placeholder="Enter Bio Links (comma separated)" />
        </div>

        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>