@model Creators.Creators.Database.UserModel

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}

@{
    ViewData["Title"] = "My Account";
}

<div class="container">



    <h2>My Account</h2>

    <div class="user-info">
        <h4>User Information</h4>
        <p> <strong>Name: </strong> @Model.Firstname @Model.Lastname </p>
        <p> <strong>Nick: </strong> @Model.UserName </p>
        <p> <strong>Email: </strong> @Model.Email </p>

        <hr />
        <h4>User Actions</h4>


        <a href="@Url.Action("CheckSendDonates", "Donate")" class="btn btn-primary">My Donates</a>
        <a href="@Url.Action("MyBlocklist", "Chat")" class="btn btn-primary">My Blocklist</a>


        <hr />


        @if (ViewBag.IsCreator)
        {
            <h4>Creator Actions</h4>

            <div class="creator-management">
                <a href="@Url.Action("ManageCreatorPage", "Creator")" class="btn btn-primary">Manage My Page</a>
            </div>
        }
        else
        {
            <h4>Register as Creator</h4>

            <div class="not-creator">
                <a href="@Url.Action("BecomeCreator", "Creator")" class="btn btn-primary">Become Creator</a>
            </div>
        }
    </div>



</div>