@model List<Creators.Creators.Models.PhotoForCreator>

@{
    ViewData["Title"] = "Manage Your Photos";
}

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Any())
{
    @foreach (var photo in Model)
    {
        <p>@photo.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(photo.File)" alt="Photo" width="150" />
        <p>@photo.Description</p>
        <p>Heart count: @photo.Hearts.Count</p>

        <form asp-action="DeletePhoto" method="post">
            <input type="hidden" name="Id" value="@photo.Id" />
            <button type="submit" class="btn btn-danger">Delete photo</button>
        </form>


        <a href="@Url.Action("CheckLikesCreator", "Photo", new { Id = photo.Id })" class="btn btn-primary">
            Check likes
        </a>
        @if (photo.CommentsOpen)
        {
            <a href="@Url.Action("CheckCommentsCreator", "Photo", new { Id = photo.Id })
            " class="btn btn-primary">
                Check comments
            </a>
        }

        @if (photo.CommentsOpen)
        {
            @if (photo.comments.Any())
            {
                foreach (var comment in photo.comments)
                {
                    <p>@comment.User - @($"{comment.Date.ToString("yyyy-MM-dd")} {comment.Time.ToString("HH:mm:ss")}")</p>

                    @if (comment.Hidden)
                    {
                        <p style="color: red">@comment.Text</p>

                        <form asp-action="ChangeVisibleComment" method="post">
                            <input type="hidden" name="Id" value="@comment.Id" />
                            <button type="submit" class="btn btn-danger">Change to visible</button>
                        </form>
                    }
                    else
                    {
                        <p>@comment.Text</p>

                        <form asp-action="ChangeVisibleComment" method="post">
                            <input type="hidden" name="Id" value="@comment.Id" />
                            <button type="submit" class="btn btn-danger">Change to not visible</button>
                        </form>
                    }
                }
            }
            else
            {
                <p>No comments available.</p>
            }
        }
        else
        {
            <p>Comments are closed.</p>
        }

        <br />
        <br />
        <br />
    }
}
else
{
    <p>You haven't uploaded any photos yet.</p>
}
