@model List<Creators.Creators.Database.CreatorAnnouncement>

@section Styles {
    <link rel="stylesheet" href="~/css/announcement.css" />
}

@{
    ViewData["Title"] = "Manage announcements";
}



<div class="container-announcement"> 
    <h2>Manage Announcements</h2>

    <div class="announcement-actions">
        <div class="announcement-form">
            <form id="announcement-form-build" asp-action="AddAnnouncement" method="post">
                <h5>Add New Announcement</h5>
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter title" required/>
                </div>
                <div class="form-group">
                    <label for="Description">Description:</label>
                    <textarea id="Description" name="Description" class="form-control" rows="4" maxlength="250" placeholder="Enter description"  required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Announcement</button>
            </form>

        </div>
    </div>


    <hr />

    @if (Model.Any())
    {
        <h5>Existing Announcements</h5>

        <div id="announcements-manage">


            @foreach (var announcement in Model.OrderByDescending(a => a.DateTime))
            {
                <div class="announcement-form">
                    <form asp-action="UpdateAnnouncement" method="post" class="update-form">

                        <h6>@announcement.Title - @announcement.DateTime.ToString("dd.MM.yyyy HH:mm")</h6>

                        <input type="hidden" name="Id" value="@announcement.Id" />
                        <div class="form-group">
                            <label for="Title_@announcement.Id">Title:</label>
                            <input type="text" id="Title_@announcement.Id" name="Title" class="form-control" value="@announcement.Title" placeholder="Enter title" required />
                        </div>
                        <div class="form-group">
                            <label for="Description_@announcement.Id">Description:</label>
                            <textarea id="Description_@announcement.Id" name="Description" class="form-control" rows="4" maxlength="250" placeholder="Enter description" required>@announcement.Description</textarea>
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="btn btn-success">Update</button>
                            <button type="button" class="btn btn-danger" onclick="deleteAnnouncement(@announcement.Id)">Delete</button>
                        </div>
                    </form>
                </div>
            }

        </div>
    }
    else
    {
        <h3>No announcements available.</h3>
    }
</div>



<script>
    function deleteAnnouncement(id) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '@Url.Action("DeleteAnnouncement", "Announcement")';

            var hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'Id';
            hiddenField.value = id;
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
    }
</script>